* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-4, .col-6  {
    padding: 0 !important;
}

.shadows {
    box-shadow: 1px 1px 10px rgb(38, 38, 38);
}

.avatar {
    width: 310px;
}

.profile {
    font-weight: 700 !important;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 4px;
    line-height: 1.4px;
}

.text-decoration-underline {
    text-decoration-color: underline red;
}

.desc {
    text-align: justify;
}